body{
    background-color: #0F0F0F;
}
header{
    height: 40px;
}
header > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
#youtubeLogo{
    height: 30px;
    width: 100px;
    margin-left: 10px;
}
#searchBar{
    display: flex;
    height: 30px;
}
#searchBar > input[type="submit"]{
    background-color:#222222;
    color: white;
    height: 30px;
    border: 1px solid grey;
    border-radius: 0 10px 10px 0;
}
#searchBar > input[type="text"]{
    background-color: #0F0F0F;
    padding: 0;
    border: 1px solid grey;
    height: 28px;
    border-radius: 10px 0 0 10px;
}
#voice > button{
    margin-left: 10px;
    background-color: #222222;
    color: white;
    border: 0;
    height: 30px;
    border-radius: 40px;
}
#rightSide > img{
    height: 30px;
    width: 30px;
}
#sideMenu{
    width: 50px;
    position: fixed;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#homeLogo{
    margin-top: 40px;
}
#sideMenu > div > img{
    height: 40px;
    width: 40px;
}
#suggestions{
    height: 30px;
    margin-top: 15px;
    margin-left: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
}
#suggestions::-webkit-scrollbar { 
    display: none;
}
#suggestions > a{
    text-decoration: none;
    color: white;
    border: 5px solid #222222;
    background-color: #222222;
    border-radius: 10px;
    margin: 2px;
    line-height: 30px;
}